site_name: Canvas Connector - BYU-I Python Tooling
site_url: https://byuirpytooling.github.io/canvasconnector
theme:
  name: material
  icon:
    logo: fontawesome/solid/graduation-cap # or solid/book
  favicon: assets/favicon.ico
  features:
    - navigation.footer
  font:
    text: Merriweather Sans
    code: Red Hat Mono
  palette:
    # Dark Mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark mode
      primary: blue
      accent: red

    # Light Mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light mode
      primary: blue
      accent: light blue

markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - toc:
      toc_depth: 2 # Add this line - only show H1 and H2 in TOC

plugins:
  - search
  - autorefs
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          paths: [src]
          options:
            show_source: false
            heading_level: 3 # Add this
            show_root_toc_entry: false # Add this - hides from TOC

extra_css:
  - stylesheets/extra.css

extra:
  social:
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/@byuidss
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/mitchell-mecham
copyright: Copyright &copy; 2026 Mitchell Mecham
